<%= render 'layouts/navigate'%>
<body class="hero-unit">
<div>
<h1>Manage your Networks</h1>
<p>You can add links and integrate other networks / services to your WorkFu profile. Click the icons to add or remove.</p>
</div>
</body>
<%= render 'layouts/footer'%>        