<%= render 'layouts/stylesheets' %>
<h3 align="center">We're now accepting requests to post opportunities</h3>
<a href="#" class="signup_button round">Request Access Now</a>
<p align="center">During the beta phase, posting opportunities on WorkFu will be completely free. Once the beta phase closes, paid plans will come into effect. You will not pay a penny until you choose a plan type & there will always be a free plan.</p>