<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= csrf_meta_tags %>  
</head>
<body>
	<div class="container">	     
         <section class="round">
            <%= yield %>
         </section>         
    <div/>
</body>
</html>