div.networks {
    clear: both;
    display: none;
    float: none;
    margin: 0 auto;
    padding: 60px 0 0;
    position: relative;
}
div.networks > a {
    display: block;
    float: left;
    margin: 0 1.96% 3.5%;
    max-width: 127px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 12.7%;
}
div.networks a span.active {
    background: url("networks/tickcross.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 41px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 41px;
}
div.networks a:hover span.active {
    background-position: 0 -46px;
}
div.networks a:hover span.active.pending, div.networks a span.active.pending {
    -moz-animation-duration: 0.4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: step-start;
    background: url("/content/images/networks/loader.png") no-repeat scroll 50% 50% transparent;
}
div.networks a.twitter:hover span.active {
    background-position: 0 0;
}
div.networks a.disabled:hover span.active {
    background-position: 0 0;
}
div.networks a span.text {
    color: #383838;
    font-size: 1.5em;
    line-height: 1;
    white-space: nowrap;
}
div.networks a span.img {
    -moz-transition: all 0.2s ease-in 0s;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin: 0 0 10px;
}
div.networks a:hover span.img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
div.networks a.twitter span.img {
    background: none repeat scroll 0 0 #42C8F4;
}
div.networks a.linkedin span.img {
    background: none repeat scroll 0 0 #007FBA;
}
div.networks a.zerply span.img {
    background: none repeat scroll 0 0 #9DBC7A;
}
div.networks a.dribbble span.img {
    background: none repeat scroll 0 0 #F05E95;
}
div.networks a.forrst span.img {
    background: none repeat scroll 0 0 #255A30;
}
div.networks a.github span.img {
    background: none repeat scroll 0 0 #FFFFFF;
}
div.networks a.stackoverflow span.img {
    background: none repeat scroll 0 0 #FFFFFF;
}
div.networks a.treehouse span.img {
    background: none repeat scroll 0 0 #353535;
}
div.networks a.facebook span.img {
    background: none repeat scroll 0 0 #4065B9;
}
div.networks a.instagram span.img {
    background: none repeat scroll 0 0 transparent;
}
div.networks a.flickr span.img {
    background: none repeat scroll 0 0 #FFFFFF;
}
div.networks a.tumblr span.img {
    background: none repeat scroll 0 0 #2F4D6A;
}
div.networks a.vimeo span.img {
    background: none repeat scroll 0 0 #1894C9;
}
div.networks a.youtube span.img {
    background: none repeat scroll 0 0 #FFFFFF;
}
div.networks a.soundcloud span.img {
    background: none repeat scroll 0 0 transparent;
}
div.networks a.ffffound span.img {
    background: none repeat scroll 0 0 #FFFFFF;
}
div.networks a.treehouse.off, div.networks a.forrst.off, div.networks a.instagram.off, div.networks a.flickr.off, div.networks a.vimeo.off, div.networks a.youtube.off, div.networks a.soundcloud.off, div.networks a.tumblr.off {
    cursor: default;
    opacity: 0.2;
}
div.networks a.noshadow:hover span.img, div.networks a.noshadow span.img {
    box-shadow: none;
}
div.networks div.network {
    border: 0 none;
    bottom: 0;
    clear: both;
    display: none;
    float: none;
    height: 100%;
    left: 0;
    margin: 0 auto 50px;
    max-width: 100%;
    padding: 40px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200000;
}
div.networks div.network div {
    width: 80%;
}
div.networks div.network p {
    color: #353535;
    display: block;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.3;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
div.networks div.network div.form {
    padding: 30px 0 20px;
    width: auto;
}
div.networks div.network div.form input {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCDC4;
    border-radius: 4px 4px 4px 4px;
    color: #353535;
    float: left;
    font-family: "museo-sans-rounded",arial,sans-serif;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1;
    margin: 0 10px 0 0;
    padding: 8px;
    text-transform: lowercase;
    vertical-align: middle;
    width: 40%;
}
div.networks div.network.integrated div.form input {
    margin: 0;
}
div.networks div.network div.form span {
    display: inline-block;
    float: left;
    font-size: 1.8em;
    padding: 15px 10px 0 0;
}
div.networks div.network div.form span.tumblr {
    padding: 15px 0 0 10px;
}
div.networks div.network a.cancel {
    background: url("/content/images/cross-networks.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 17px;
}
div.networks div.network a.cancel:hover {
    background-position: 0 -22px;
}
div.networks div.network.integrated a.activate {
    clear: both;
    margin: 10px 0 0;
    padding: 5px 10px;
}
div.networks div.network a.activate {
    background: none repeat scroll 0 0 rgba(7, 156, 211, 0.6);
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: "museo-sans-rounded",arial,sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.3;
    margin: 1px 0 0;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    width: auto;
}
div.networks div.network a.activate:hover {
    background: none repeat scroll 0 0 rgba(7, 156, 211, 0.8);
}
div.networks div.network a.activate:active {
    background: none repeat scroll 0 0 rgba(7, 156, 211, 0.898);
}
div.networks > a.twitter, div.networks > a.disabled {
    cursor: default;
}
div.networks > a.twitter:hover span.img, div.networks > a.disabled:hover span.img {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
div.networks div.network a.activate {
    clear: both;
    float: left;
    margin: 20px 0 0;
}
div.networks div.network {
    margin: 10px auto 20px;
}
div.networks div.network div {
    width: 100%;
}
div.networks div.network p {
    font-size: 1.4em;
}
div.networks div.network div.form {
    padding: 20px 0 10px;
    width: auto;
}
div.networks div.network div.form span {
    font-size: 1.5em;
}
div.networks a span.active {
    background-size: 21px 45px;
    height: 21px;
    right: -10px;
    top: -10px;
    width: 21px;
}
div.networks a:hover span.active {
    background-position: 0 -24px;
}
div.networks a:hover span.active.pending, div.networks a span.active.pending {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/content/images/networks/loader.png");
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 21px 231px;
}
div.networks div.network div.form input {
    font-size: 1.8em;
    padding: 7px;
}
div.networks div.network a.activate {
    font-size: 1.6em;
    line-height: 1.3;
    margin: 1px 0 0 10px;
    padding: 8px;
}
div.networks a span.text {
    font-size: 1.2em;
}
div.networks a {
    width: 12.5%;
}
div.networks a span.text {
    display: none;
}
div.networks div.network div.form span {
    font-size: 1.2em;
    margin-top: 0;
    padding: 10px 5px 0 0;
}
div.networks div.network div.form input {
    font-size: 1.4em;
    padding: 5px;
}
div.networks div.network a.activate {
    font-size: 1.3em;
    line-height: 1.3;
    margin: 1px 0 0 5px;
    padding: 6px 5px 5px;
}
div.networks div.network div.form {
    padding: 20px 0 10px;
}
div.networks div.network p {
    font-size: 1.2em;
    width: 80%;
}
div.networks div.network div.form span.tumblr {
    padding: 10px 0 0 5px;
}
div.networks div.network {
    margin: 10px auto 20px;
}
div.networks div.network div {
    width: 100%;
}
div.networks div.network p {
    font-size: 1.3em;
}
div.networks div.network div.form {
    padding: 20px 0 0;
    width: auto;
}
div.networks div.network div.form span {
    font-size: 1.2em;
    margin-top: 0;
    padding: 10px 5px 0 0;
}
div.networks div.network a.activate {
    clear: both;
    float: left;
    font-size: 1.1em;
    line-height: 1.3;
    margin: 20px 0 0;
    padding: 6px 5px 5px;
}
div.networks div.network div.form input {
    font-size: 1.2em;
    width: 50%;
}
div.networks div.network a.cancel {
    position: absolute;
    right: 10px;
    top: 10px;
}
div.networks a span.active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("networks/tickcross.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 21px 45px;
    height: 21px;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 21px;
}
div.networks a:hover span.active {
    background-position: 0 -26px;
}
div.networks a {
    margin: 0 2.1% 3.5% 2.4%;
    width: 14.8%;
}
div.networks a span.img {
    border-radius: 5px 5px 5px 5px;
}
div.networks {
    padding: 35px 0 0;
}
div.networks div.network {
    padding: 15px;
}
div.networks div.network a.cancel {
    background-image: url("/content/images/retina/cross-networks.png");
    background-size: 15px 36px;
}