<header> 
       <div class="navbar">
           <div class="navbar-inner">
               <div class="container">
               
                   <ul class="nav nav-pills pull-left">                                   
                       <li><a href="http://twitter.com/", title="twitter", alt="twitter"><%= image_tag("twitter_logo_right.png", :alt => "twitter", :class => "round") %></a></li>      
                   </ul>
                       
                   <ul class="nav nav-pills pull-right">                              
                   
                          <li ><%= link_to "Sign in", "#" %></li>  
                   
                   </ul>
               </div>
           </div>              
       </div>   
  </header>